@model HobbyViewModel
<div class="jumbotron">
    <h1 class="text-center h3">@ViewBag.Title</h1>
</div>
<img src="/images/moviePic.jpg">
<h2 class="h5 p-5">Us here within the Movies Hobby Project love watching, discussing, 
and exploring movies! We developed this application for fellow movie enthusiasts, and 
common folk, to be able to have a place to find new movies, and explore our favorites!
We hope that our application serves you well in your movie exploring!</h2>

