@model HobbyViewModel
@{
    ViewBag.Title = "About Our Group";
}
    <div class="jumbotron">
        <h1 class="text-center h3">@ViewBag.Title</h1>
    </div>
    <h2 class="h5 p-5">Our group is made up of University of Cincinnati Students who love watching movies! We have each compiled our favorite movies and some more about us individually on our own pages. To see our pages, naviagate to the dropdown in the top right of the page and click on our names! </h2>

