@model HobbyViewModel
<div id="searchPrompt">
    <div class="jumbotron" style="position:relative; top: 20px">
        <h1 class="text-center h3">@ViewBag.Title</h1>
        <form id="searchForm" class="text-center">
            <input type="text" class="form-control" id="searchText" placeholder="Search Movies" name="query">
            <button type="submit" class="btn btn-primary btn-lg mt-4">Search</button>
        </form>
    </div>
</div>
<div id="movies" class="row"></div>
<div id="movie" class="well"></div>
