@model HobbyViewModel
<div id="searchPrompt">
    <div class="jumbotron">
        <h1 class="text-center h3">@ViewBag.Title</h1>
        <form id="searchForm">
            <input type="text" class="form-control" id="searchText" placeholder="Search Movies" name="query">
        </form>
    </div>
</div>
<div id="movies" class="row"></div>
<div id="movie" class="well"></div>
