@model HobbyViewModel

<div class="container">
    <h1>@ViewBag.Title</h1>

    <ul>
        <!--This section still needs to be filtered by the stored member ID and set to display correct group members-->
        @foreach (GroupMembers m in Model.TeamList)
        {
            <li>@m.FirstName</li>
        }
    </ul>
</div>